html {
    margin: 0;
    padding:0;
    height: 2400px;
}
body {
    background: #302683;
    z-index: -2;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}
.chapter-circle-1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 107px;
    top: 62px;
    background: #EEB342;
    border: 3px solid #17193F;
    border-radius: 50%;
}
.greenline {
    position: absolute;
    left: 27px;
    top: 92px;
}
.way-1 {
    position: absolute;
    width: 215px;
    height: 275px;
    left: 105px;
    top: 96px;
    z-index: -1;
}
.chapter-value-1 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 190px;
    top: 71px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-name-1 {
   position: absolute;
    width: 138px;
    height: 18px;
    left: 190px;
    top: 94px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height, or 90% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


}
.chapter-icon-1 {
    position: absolute;
    width: 48px;
    height: 47px;
    left: 121px;
    top: 77px;
    z-index: 1000;
    background: url(icons/letter.png);
}
.chapter-value-2 {
    
    position: absolute;
    width: 343px;
    height: 18px;
    left: 70px;
    top: 348px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-name-2 {
    position: absolute;
    width: 175px;
    height: 18px;
    left: 70px;
    top: 362px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

}
.chapter-greenwrapper {
   position: absolute;
    width: 70px;
    height: 70px;
    left: 257px;
    top: 2567px;







    background: #C4C4C4;
    border: 3px solid #57C74B;
    border-radius: 50%;
}
.chapter-circle-2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 245px;
    top: 332px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-icon-2 {
    position: absolute;
    width: 103px;
    height: 103px;
    left: 228px;
    top: 315px;

}
.chapter-name-lock {
    position: absolute;
    width: 210px;
    height: 18px;
    left: 163px;
    top: 2864px;

    
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #B2A7A5;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #B2A7A5;
}
.chapter-circle-lock {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 70px;
    top: 2847px;




    background: #B2A7A5;
    border: 3px solid #17193F;
    border-radius: 50%;
}
.chapter-icon-lock {
    position: absolute;
    width: 45px;
    height: 49px;
    left: 85px;
    top: 2860px;




}
.way-2 {
    position: absolute;
    z-index: -1;
    left: 100px;
    top: 377px;

}
.chapter-circle-3 {
   position: absolute;
    width: 70px;
    height: 70px;
    left: 66px;
    top: 625px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-value-3 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 156px;
    top: 644px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-name-3 {
    position: absolute;
    width: 175px;
    height: 18px;
    left: 156px;
    top: 658px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

}
.chapter-icon-3 {
    position: absolute;
    width: 55.77px;
    height: 57.22px;
    left: 74px;
    top: 628px;
    transform: rotate(-24.91deg);
}
.way-3 {
    position: absolute;
    width: 255px;
    height: 283px;
    left: 50px;
    z-index: -1;
    top: 650px;

}
.chapter-circle-4 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 228px;
    top: 900px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;

}
.chapter-icon-4 {
    position: absolute;
    width: 39px;
    height: 45px;
    left: 247px;
    top: 912px;

}
.chapter-value-4 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 90px;
    top: 919px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-name-4 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 90px;
    top: 933px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

}
.way-4 {
    position: absolute;
    left: 110px;
    top: 950px;
    z-index: -1;
}
.chapter-name-5 {
    position: absolute;
    width: 175px;
    height: 18px;
    left: 160px;
    top: 1210px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}
.chapter-value-5 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 160px;
    top: 1196px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-circle-5 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 74px;
    top: 1179px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-icon-5 {
    position: absolute;

    height: 58px;
    left: 87px;
    top: 1186px;
}
.way-5 {
    position: absolute;
    width: 255px;
    height: 283px;
    left: 65px;
    top: 1204px;
    z-index: -1;
}
.chapter-circle-6 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 250px;
    top: 1457px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-icon-6 {
    position: absolute;
    width: 75px;
    left: 248px;
    top: 1453px;
}
.chapter-name-6 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 100px;
    top: 1478px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}
.chapter-value-6 {
    
    position: absolute;
    width: 343px;
    height: 18px;
    left: 100px;
    top: 1464px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}
.way-6 {
    position: absolute;
    left: 110px;
    top: 1490px;
    z-index: -1;
}
.chapter-circle-7 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 74px;
    top: 1734px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-value-7 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 162px;
    top: 1753px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}
.chapter-name-7 {
    position: absolute;
    width: 175px;
    height: 18px;
    left: 162px;
    top: 1767px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}
.chapter-icon-7 {
    position: absolute;
    width: 52px;
    height: 30px;
    left: 83px;
    top: 1754px;
}
.way-7 {
    position: absolute;
    width: 255px;
    height: 283px;
    left: 70px;
    top: 1748px;
    z-index: -1;
}
.chapter-circle-8 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 250px;
    top: 2013px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-value-8 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 100px;
    top: 2032px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}
.chapter-name-8 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 100px;
    top: 2045px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}
.chapter-icon-8 {

    position: absolute;
    width: 56px;
    height: 44px;
    left: 257px;
    top: 2026px;
}
.way-8 {
    position: absolute;
    width: 281px;
    height: 279px;
    left: 65px;
    top: 2043px;
    z-index: -1;
}
.chapter-circle-9 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 74px;
    top: 2291px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-name-9 {
    position: absolute;
    width: 175px;
    height: 18px;
    left: 163px;
    top: 2318px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

}
.chapter-value-9 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 163px;
    top: 2304px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}
.chapter-icon-9 {
    position: absolute;
    width: 42px;
    height: 49px;
    left: 84px;
    top: 2301px;

}
.way-9 {
    position: absolute;
    width: 283px;
    height: 283px;
    left: 42px;
    top: 2322px;
    z-index: -1;
}
.chapter-circle-10 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 260px;
    top: 2570px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-name-10 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 123px;
    top: 2586px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

}
.chapter-value-10 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 123px;
    top: 2572px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}
.chapter-icon-10 {
    position: absolute;
    width: 40px;
    height: 48px;
    left: 275px;
    top: 2581px;

}






@font-face {
font-family: "Muller"; 
src: url("fonts/Fontfabric - MullerRegular.otf"); 
font-style: normal; 
font-weight: Normal; 
}

@font-face {
font-family: "Muller"; 
src: url("fonts/Fontfabric - MullerBold.otf"); 
font-style: normal; 
font-weight: Bold; 
}