html {
    margin: 0;
    padding: 0;
}
body {
    background: #302683;
    z-index: -2;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}
.chapter-circle-1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 107px;
    top: 62px;
    background: #EEB342;
    border: 3px solid #17193F;
    border-radius: 50%;
}
.greenline {
    position: absolute;
    left: 27px;
    top: 92px;
}
.greenway {
    position: absolute;
    width: 215px;
    height: 275px;
    left: 105px;
    top: 96px;
    z-index: -1;
}
.chapter-value-1 {
    position: absolute;
    width: 343px;
    height: 18px;
    left: 190px;
    top: 71px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-name-1 {
   position: absolute;
    width: 138px;
    height: 18px;
    left: 190px;
    top: 94px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height, or 90% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


}
.chapter-icon-1 {
    position: absolute;
    width: 48px;
    height: 47px;
    left: 121px;
    top: 77px;
    z-index: 1000;
    background: url(icons/letter.png);
}
.chapter-value-2 {
    
    position: absolute;
    width: 343px;
    height: 18px;
    left: 70px;
    top: 348px;

    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

}
.chapter-name-2 {
    position: absolute;
    width: 175px;
    height: 18px;
    left: 70px;
    top: 362px;

    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;

}
.chapter-greenwrapper {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 242px;
    top: 329px;

    background: #C4C4C4;
    border: 3px solid #57C74B;
    border-radius: 50%;
}
.chapter-circle-2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 245px;
    top: 332px;

    background: #EEB342;
    border: 3px solid #17193F;
    box-sizing: border-box;
    border-radius: 50%;
}
.chapter-icon-2 {
    position: absolute;
    width: 103px;
    height: 103px;
    left: 228px;
    top: 315px;

}


















@font-face {
font-family: "Muller"; 
src: url("fonts/Fontfabric - MullerRegular.otf"); 
font-style: normal; 
font-weight: Normal; 
}

@font-face {
font-family: "Muller"; 
src: url("fonts/Fontfabric - MullerBold.otf"); 
font-style: normal; 
font-weight: Bold; 
}